# Dependencies
node_modules/
.bun/
~/.bun/

# Builds
dist/
.output/
.tanstack/
.nitro/
.vinxi/

# Locks & logs
bun.lock
bun.lockb
package-lock.json
*.log

# IDE/editor
.vscode/
.idea/
.DS_Store

# Environment
.env
.env.local
.env.production

# Vercel
.vercel/

# Coverage
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db
.replit
